.topRowLocation {
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgb(253, 210, 129);
  height: 40px;
  align-items: center;
  width: 80%;
  border-radius: 5px;
  }


.resultDisplayedLocation {
    display: flex;
    gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 200px;
}

.locationSet {
    margin: 10px;
    background-color: aqua;
    height: 200px;
    width: 200px;
    border-radius: 10px;
}

.nextPrevButtonsLocation{
    display: flex;
    gap: 5px;
  }

  .waitingDogDivLocation {
    display: flex;
    align-items: center;
    justify-content: center;
  }
