.topRowLocation {
    /* margin: 20px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: aqua;
    height: 50px;
  }


.resultDisplayed {
    display: flex;
    gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.locationSet {
    margin: 10px;
    background-color: aqua;
    height: 200px;
    width: 200px;
    border-radius: 10px;
}

