.profile {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 10px;
}

.profilePic {
    width: 70px;
    height: 70px;
    cursor: pointer;
}

.profileButton {
    border: none;
    background-color: transparent;
    border-radius: 100px;
    margin: 5px;

}
