.instruction {
  text-align: center;
}

.results {
    position: absolute;
    margin-bottom: 150px;
    width: 90%;
    max-width: 415px;
    border: 1px solid #ccc;
    border-radius: 10px;
    height: 100px;
    overflow: auto;
    background-color: #f9f9f9;
    z-index: 10;
    transform: translateX(-6%); /* Moves it slightly to the left */
    cursor: pointer;
}

ul.resultList {
  height: 20px;

}

.resultList:hover{
  background-color: rgb(240, 240, 154);

}

.filters-breed {
    position: absolute;
    left: 120px;
    width: 250px;
    padding: 10px;
  }

  .sort {
    position: absolute;
    left: 490px;
    width: 250px;
    padding: 10px;

  }


.inputBox {
    height: 40px;
    width: 400px;
    border-radius: 10px 0px 0px 10px;
    padding-left: 10px;
}

.searchAndFilterBreed {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(4,1fr);
  height: 100px;
  margin-top: 40px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 250px;
}

.addButton {
  height: 46px;
  width: 50px;
  border-left: none;
  border-radius: 0px 10px 10px 0px;
  /* padding-left: 10px; */
  background-color: rgb(240, 240, 154);
  text-align: center;
  cursor: pointer;
}

.filterButton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    background-color: white;
    text-align: center;
    cursor: pointer;
    border: 1px solid #ccc;
    gap: 5px;
}


.gridArea1-1{
    grid-area: 1/1;
    display: grid;
    grid-template-rows: repeat(2,1fr);
    width: 100%;
    height: 110px;
}

.gridArea11-r1 {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.gridArea11-r2 {
  display:flex;
  justify-content: center;
}

.gridArea1-2 {
    grid-area: 1/2;
    display: grid;
    grid-template-rows: repeat(2,1fr);
    width: 100%;
    /* height: 100px; */
}

.gridArea12-r1 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;

}

.gridArea12-r2 {
  display: grid;
  position: relative;
  top: 5px;
}

.breedFilterChosen {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: space-around;
}

.otherParametersChosen {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2,1fr);
  width: 100%;
}

.filter-option-state {
  grid-area: 2/1;
}

.filter-input-city {
  width: 152px;
  height: 18px;
  border-radius: 5px;
  margin-left: 5px;
  border-width: 0.5px;
}

.filter-input-state {
  width: 30px;
  height: 17px;
  margin-left: 5px;
  border-radius: 5px 0px 0px 5px;
  border-width: 0.5px;
  padding-left: 5px;
}

.searchStatePic {
  height: 15px;
  width: 15px;
}


.gridArea2-1{
    grid-area: 2/1;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content:start;
    width: 100%;
    height: 70px;
}

.gridArea2-2{
    display:flex;
    flex-direction: column;
    grid-area: 2/2;
    position: relative;
    width: 100%;
    height: 100px;
}

.gridArea3-1 {
  grid-area: 3/1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
}


.gridArea3-2{
  grid-area: 3/2;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  position: relative;
  width: 100%;
  height: auto;



}

.gridArea4-1{
  grid-area: 4/1;
  position: relative;
  width: 100%;
  height: 50px;
}

.gridArea4-2{
  grid-area: 4/2;
  position: relative;
  width: 100%;
  height: 50px;
}


.filter-option-breed {
    display: flex;
    margin: 5px;
    height: 20px;
}

.sort-option {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    height: 25px;
}

  .filter-input-breed {
    margin-left: 5px;
    border-radius: 5px;
    width: 25px;
  }

  .zip-location-input-breed {
    margin-left: 5px;
    border-radius: 5px 0px 0px 5px;
    width: 50px;
  }

  .sizeInputBreed {
    margin-left: 3px;
    height: 18px;
    width: 30px;
    border-right: none;

  }

  .updateButton {
    height: 24px;
    cursor: pointer;
    background-color: rgb(240, 240, 154);
    color: red;
    font-weight: bold;
  }


  input.zip-location-input-breed::-webkit-inner-spin-button,
  input.filter-input-breed::-webkit-inner-spin-button,
  input.sizeInputBreed::-webkit-inner-spin-button,
  input.inputBoxLocation::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .searchPic {
    height: 20px;
    width: 20px;
  }

  .addZip {
    height: 10px;
    width: 10px;
  }

  .addZipButton {
    background-color: rgb(240, 240, 154);
    border-left: none;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
  }

  .inputBoxLocation {
    height: 23px;
    width: 170px;
    border-radius: 5px 0px 0px 5px;
    padding-left: 10px;
}

  .filterPic {
    height: 20px;
    width: 20px;
    margin:5px;
  }

  .sizeBreed {
    grid-column: 2;
   display: flex;
   justify-content: center;
  }

  .zipCodeEntry {
    grid-column: 1;
    display: flex;
  }

  .breedResult {
    position: relative;
    top: 15px;
  }

  .breedChoices {
    position:absolute;   
    font-weight: bold;
    font-size: 20px;
    /* z-index: 7; */
    left: 325px;
  }

  .chosenBreeds {
    width: 300px;
    font-size: 16px;
    font-weight: normal;
    display: flex;
    align-items: center;
  }

  .chosenZips {
    display: flex;
  }

  .zipChoices {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    margin-top: 5px;
  }

  .locationChoices {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
    position: relative;
    top: 5px;
    padding-left: 40px;
  }

  .removeButton {
    margin-left: 5px;
    border: none;
    background-color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  .removeStateButton {
    border: none;
    background-color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  .removeZipButton {
    border: none;
    background-color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
  }



  .deletePic {
    height: 20px;
    width: 20px;
  }

  .deleteStatePic {
    height: 15px;
    width: 15px;
  }

  .deleteZipPic {
    height: 15px;
    width: 15px;
  }

  .deleteLocationPic {
    height: 15px;
    width: 15px;
  }


  .searchBreed {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    margin-top: 100px;
    text-align: center;

  }

  .searchBreedButton {
    width: 600px;
    height: 50px;
    background-color: rgb(128, 231, 134);
    cursor: pointer;
    border-radius: 10px 0px 0px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 18px;
    font-weight: bold;
    border: none;
  }

  .clearAllButton {
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: red;
    border: none;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
  }

  .ascPic, .descPic {
    height: 17px;
    width: 17px;
  }

  .breed, .name, .age {
    border: none;
    background-color:white;
    cursor:pointer;
    border-radius: 5px;
  }

  .breed:hover, .name:hover, .age:hover {
    background-color:rgb(196, 196, 245);
  }

  .breed.asc, .breed.desc, .name.asc, .name.desc, .age.asc, .age.desc {
    background-color:rgb(196, 196, 245);
  }

  .ageSort {
    margin-left:10px;
  }

  .breedErrors {
    width: 400px;
    height: 30px;
    color: red;
    font-size: 14px;
    font-weight: bold;
    background-color: rgb(252, 223, 228);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
  }

  .breedErrorshidden {
    height: 30px;
    margin: 10px;
}

.breedResult {
 text-align: center;
}

.searchByLocation{
  /* margin-top: 120px; */
  height: 50px;
  width: 40%;
  margin-left: 50%;
  margin-right: 10%;
  border: 1px solid black;
  border-radius: 10px;
}

.allFilterButton {
  display: flex;
  align-items: center;
  justify-content: center;
}

.allFilterButton, .searchByLocationButton {

  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.allFilterButton.open {
    background-color: #f0f0f0;
}


.allLocationItems {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  /* grid-template-rows: repeat(3,1fr); */
  grid-template-rows: auto auto auto;

  /* display: flex;
  flex-direction: row;
  justify-content: center; */
  margin-top: 10px;
  /* gap: 20px; */
}

.zipCodeOnlyDiv {
  grid-area: 1/1;
  display: flex;
  justify-content: center;

}

.otherParamsDiv {
  grid-area: 1/2;
  display: flex;
  justify-content: center;
}

.selectLocationInput {
  display: flex;
  height: 50px;
  justify-content: start;
  margin-top: 10px;
}

.selectLocationArray {
  grid-area: 3 / 1 / 4 / 3;
  display: flex;
  height: auto;
  z-index: 7;
  }

.addStateButton{
  position: relative;
  height: 21px;
  width: 35px;
  border-left: none;
  border-radius: 0px 5px 5px 0px;
  border-width: 0.5px;
  background-color: rgb(240, 240, 154);
  text-align: center;
  cursor: pointer;
}

.searchSpan{
  position: relative;
  right: 2px;
  top: 2px;
}

.searchStatePic {
  height: 15px;
  width: 15px;
}

.chooseZipCodeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 150px;
  border-radius: 10px;
  background-color: white;
  text-align: center;
  cursor: pointer;
  border: 1px solid #ccc;
  gap: 5px;
}

.otherParametersButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 150px;
  border-radius: 10px;
  background-color: white;
  text-align: center;
  cursor: pointer;
  border: 1px solid #ccc;
  gap: 5px;
}


.chosenLocations {
  font-size: 16px;
  font-weight: normal;
  display: flex;
  align-items: center;

}

.removeLocationButton {
  border: none;
  background-color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.filter-option, .filter-option-state {
  padding-left: 35px;
  height: 25px;
}

.openModalButton {
  width: 150px;
  height: 25px;
  font-size: 16px;
  border-radius: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
}

.geoBoundingArea {
  grid-area: 1/2;
  display: flex;
  justify-content:center;
}

.geoChoicesArea {
  grid-area: 2/2;
  display: flex;
  justify-content:start;
}

.geoChoice {
  display: flex;
  margin-left: 10px;
  /* width: 200px; */
  height: 25px;
  justify-content:center;
  align-items: center;
  border-radius: 10px;
}

.editGeoDiv{
  margin-left: 10px;
}
.editGeoChoiceButton, .deleteGeoChoiceButton{
  height: 25px;
}

.editPic, .deleteGeoPic {
  height: 20px;
  width: 20px;
}

.editGeoChoiceButton, .deleteGeoChoiceButton {
  background-color: white;
  border:none;
  cursor:pointer;
}
#s0, #s2  {
  background-color: green;
  color:white;
  font-style:oblique;
  font-weight: bold;
  padding-right: 3px;
  padding-left: 3px;
}

#s1, #s3 {
  background-color: orange;
  color:white;
  font-style:oblique;
  font-weight: bold;
  padding-right: 3px;
  padding-left: 3px;
}

.statesSelectedTitle  {
  font-weight: bold;
  color: rgb(240, 240, 154);
  background-color: orange;
  border-radius: 3px;
  width: 110px;
}

.breedsSelectedTitle {
  font-weight: bold;
  color: rgb(240, 240, 154);
  background-color: orange;
  border-radius: 3px;
  width: 140px;
}