.firstMessage {
  text-align: center;
  font-size: 30px;
}

.searchButtons {
  display: flex;
  justify-content: center;
  position: relative;
  top: 100px;
}

.breedButtonDiv, .locationButtonDiv {
  margin: 20px;
}

.breedButton, .breedButton {
  height: 400px;
  width: 300px;
  border-radius: 20px;
}