.container {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    width: 700px;
    height: auto;
    border-radius: 20px;
    padding: 25px;
    background-color: white;
}

.row1 {
    grid-row: 1;
    margin: 10px;
    text-align: center;
    font-size: 20px;
}

.row2 {
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 10px;
}

.row3 {
    grid-row: 3;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 10px;
    
}

.row4 {
    grid-row: 4;
}

.row2col1 {
    
}

.row3col1 {
   
}

.row3col2 {
    
}
