.loginPic {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.dogpic {
    width: 230px;
    height: 200px;
}

.loginText {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
}

.errorsLogin {
     display: block;
     height: 20px;
     margin: 10px;
     text-align: center;
     color: red;
     font-weight: bold;

}

.nameInput {
    margin: 10px;
    display: block;
    text-align: center;
}

.emailInput {
    display: block;
    text-align: center;
}

.loginButton {
    display: flex;
    justify-content: center;
    margin: 10px;
}

#submitLogin {
    background-color: #ADD8E6;
    border-radius: 10px;
    width: 100px;
    height: 25px;
    font-weight: bold;
    cursor: pointer;
}

/************Remove the Increase and Decrease arrows on the input*******************/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
