.instruction {
    text-align: center;
  }


  .filters {
      position: absolute;
      margin-top: 1px;
      width: 450px;

      /* background: #f9f9f9; */
      padding: 10px;
      /* border: 1px solid #ccc; */
      /* border-radius: 10px; */
    }


  .inputBoxLocation {
      height: 40px;
      width: 400px;
      border-radius: 10px 0px 0px 10px;
      padding-left: 10px;
  }

  .searchAndFilter {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    height: 50px;
    margin-top: 20px;
  }

  .searchButton {
      height: 46px;
      width: 50px;
      border-left: none;
      border-radius: 0px 10px 10px 0px;
      padding-left: 10px;
      background-color: rgb(128, 231, 134);
      text-align: left;
      /* font-weight: bold; */
      cursor: pointer;
  }

  .addButton {
    position: relative;
    height: 46px;
    width: 50px;
    border-left: none;
    border-radius: 0px 10px 10px 0px;
    /* padding-left: 10px; */
    background-color: rgb(240, 240, 154);
    text-align: center;
    cursor: pointer;
  }
  .addStateButton{
    position: relative;
    height: 21px;
    width: 35px;
    left:5%;
    border-left: none;
    border-radius: 0px 5px 5px 0px;
    border-width: 0.5px;
    background-color: rgb(240, 240, 154);
    text-align: center;
    cursor: pointer;
  }

  .filterButton {
    display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      width: 100px;
      border-radius: 10px;
      background-color: white;
      text-align: center;
      cursor: pointer;
      border: 1px solid #ccc;
      gap: 5px;
  }


  .gridArea1-1-Location{
      grid-area: 1/1;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 50px;
  }

  .gridArea1-2-Location {
      grid-area: 1/2;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: left;
      width: 100%;
      height: 50px;

  }

  .gridArea2-1-Location{
      grid-area: 2/1;
      position: relative;
      width: 100%;
      height: 100px;
      display: grid;
      /* place-items: left; */

  }

  .gridArea2-2-Location{
      grid-area: 2/2;
      position: relative;
      width: 100%;
      height: 100px;
  }

  .filter-option {
      position: relative;
      margin: 5px;
      margin-left: 0px;
    }

   .filter-option-state {
      display: flex;
      align-items: center;
      height: 30px;

    }

    .filter-option {
      display: flex;
      height: 20px;
      width: auto;
      /* align-items: center; */

  }

    .sort-option {
      display: flex;
      align-items: center;
      gap: 10px;
      position: relative;
      margin: 5px;
      /* margin-left: 350px; */
    }

    .filter-input {
      position: absolute;
      margin-left: 5px;
      border-radius: 5px;
      width: 25px;
    }

    .filter-input-city {
      width: 152px;
      height: 18px;
      border-radius: 5px;
      margin-left: 5px;
      border-width: 0.5px;
    }

    .location-input {
      position: absolute;
      margin-left: 5px;
      border-radius: 5px;
      width: 100px;
    }

    .sizeInput {
      border-radius: 5px;
      width: 30px;
    }


    input.location-input::-webkit-inner-spin-button,
    input.filter-input::-webkit-inner-spin-button,
    input.sizeInput::-webkit-inner-spin-button,
    input.inputBoxLocation::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    .searchPic {
      height: 20px;
      width: 20px;
    }

    .searchStatePic {
      height: 15px;
      width: 15px;
    }

    .filterPic {
      height: 20px;
      width: 20px;
      margin:5px;
    }

    .size {
      margin-left: 50px;
      margin-right: 50px;
    }

    .table {
      position: relative;
      top: 150px;
    }

    .locationChoices {
      position:absolute;
      top: 20px;
      left: 25%;
      /* margin-left:1%; */
      font-weight: bold;
      font-size: 15px;
      /* transform: translateX(-50%); */
    }

    .chosenLocations {
      width: 300px;
      font-size: 16px;
      font-weight: normal;
      display: flex;
      align-items: center;

    }

    .removeButton {
      margin-left: 5px;
      border: none;
      background-color: white;
      cursor: pointer;
      display: flex;
      align-items: center;
    }

    .deletePic {
      height: 20px;
      width: 20px;

    }

    .search2 {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      font-size: 20px;
      margin-top: 150px;
      text-align: center;

    }

    .search2Button {
      width: 600px;
      height: 50px;
      background-color: rgb(128, 231, 134);
      cursor: pointer;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      font-size: 18px;
      font-weight: bold;
      border: none;
    }

    .locationError {
        width: 400px;
        margin: 10px auto;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: red;
        font-size: 14px;
        font-weight: bold;
        background-color: rgb(252, 223, 228);
        border-radius: 10px;
    }

    .locationErrorhidden {
        margin: 10px;
        height: 30px;
        background-color: white;
    }

    .openModalButton {
      width: 150px;
      height: 25px;
      font-size: 16px;
      border-radius: 10px;
      background-color: #007BFF;
      color: white;
      border: none;
      cursor: pointer;
    }

  .filter-input-state {
    width: 30px;
    height: 17px;
    margin-left: 5px;
    border-radius: 5px 0px 0px 5px;
    border-width: 0.5px;
    padding-left: 5px;
  }

  .stateInstruction{
    margin-left: 20px;
  }

  .searchSpan{
    position: relative;
    right: 2px;
    margin-top: 1px;
  }

  .geoChoice {
    display: flex;
    margin-left: 10px;
    /* width: 200px; */
    height: 25px;
    justify-content:center;
    align-items: center;
    border-radius: 10px;
  }

  #s0, #s2  {
    background-color: green;
    color:white;
    font-style:oblique;
    font-weight: bold;
    padding-right: 3px;
    padding-left: 3px;
  }

  #s1, #s3 {
    background-color: orange;
    color:white;
    font-style:oblique;
    font-weight: bold;
    padding-right: 3px;
    padding-left: 3px;
  }

  .editGeoDiv, .deleteGeoDiv{
    margin-left: 10px;

  }

  .editGeoChoiceButton, .deleteGeoChoiceButton{
    height: 25px;
  }
