.resultDisplayed {
   display: flex;
   gap: 10px;
   flex-direction: row;
   flex-wrap: wrap;
   cursor: pointer;
}

.dogSet{
  margin: 10px;
}

table, th, td{
  border: 1px solid;
}

.dogImage {
  /* height: 100px;
  width: 150px; */
  border-radius: 5px;
}