/*************************************SELECTED FAVORITES DIV*********************************/
.selectedFavorites {
  display: flex;
  text-align: left;
  width: 80%;
  margin: auto;
  margin-top: 20px;
  background-color: beige;
}

.matchButtonDiv {
  margin-left: 4px;
  margin-right: 4px;
  cursor: pointer;
  border-radius: 5px;
}


.matchButton {
  border-radius: 5px;
  background-color: blue;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: blue;
}

.matchButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  opacity: 0.6;
  color: black;
}

.matchButton:hover {
  border-radius: 5px;
  background-color: white;
  color: blue;
  font-weight: bold;
  border: blue;
}

/*******************************************SELECTED DOG LIST DIV  **********************************/

.selectedDogsList{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-left: 10%;
  margin-right: 10%;
  background-color: beige;
}

.selectedDogsSet {
  width: 130px;
  height: auto;
  border-radius: 5px;
  margin: 10px;
  background-color: rgb(255, 226, 171);
}

.dogImageSelected {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 5px;
  margin-top: 3px;
}

.removeDogFromList {
  cursor:pointer;
  background-color: transparent;
  border:none;
}

.deletePic_breedsresult {
  height: 20px;
  width: 20px;
}
/**************************************************LOADING MESSAGE DIV********************************************/

.loadingMessage {
  min-height: 600px;
  font-size: 100px;
  color: gray;
}


/********************************************************TOP ROW DIV*************************************/

.topRow {
  margin: 20px auto;
  display: flex;
  background-color: rgb(253, 210, 129);
  height: 40px;
  align-items: center;
  width: 80%;
  border-radius: 5px;
}

.totalFinds{
  font-weight: bold;
  flex: 1;
  text-align: left;
  margin-left: 10px;
}

.nexPrevButtons{
  display: flex;
  gap: 10px;
  flex: 1;
  justify-content: center;
}

.prevButton, .nextButton {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.prevButton:hover, .nextButton:hover {
  background-color: white;
  border-radius: 5px;
}

.pageInfo {
  flex: 1;
  text-align: right;
  margin-right: 10px;
}


/**********************************************RESULT DISPLAYED DIV******************************************/

.resultDisplayed {
   display: flex;
   gap: 30px;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   margin-left: 10%;
   margin-right: 10%;
   margin-bottom: 200px;
   min-height: 600px;
}

.dogSet{
  width: 200px;
  height: 250px;
  border-radius: 5px;
  cursor:pointer;
  border:none;
}

.dogSet.selected {
  background-color: rgb(253, 210, 129);
}


.dogSet:hover {
  background-color: #C0E6DE;
  box-shadow: 6px 6px 2px 1px rgba(0, 0, 255, .2);
}

.dogBreed-BR {
  font-weight: bold;
  margin-bottom: 5px;
}

.dogImg-BR {

}

.dogNameAge-BR {

}

.dogImage {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}

.dogLocationData-BR {

}

.dogCounty-BR {

}

/****************************************************EMPTY DATA DIV*********************/
.emptyData {
  min-height: 600px;
}

.noResults {
  font-weight: bold;
  font-size: 30px;
  color: gray;
}

.waitingDogDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*******************************************************CERTIFIED DIV************************************************/

.certified {
  margin-bottom: 100px;
  font-style: italic;
}

.pawImage {
  height: 20px;
  width: 20px;
}

/*****************************FETCHING EFFECT*************************/
.dotOne, .dotTwo, .dotThree {
  animation: dotFlashing 1.5s infinite linear;
}

.dotTwo {
  animation-delay: 0.2s;
}

.dotThree {
  animation-delay: 0.4s;
}

@keyframes dotFlashing {
  0% { opacity: 0.2; }
  50% { opacity: 1; }
  100% { opacity: 0.2; }
}
