.resultDisplayed {
   display: flex;
   gap: 20px;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   margin-left: 8%;
   margin-right: 8%;
   margin-bottom: 200px;
}

.dogSet{
  width: 200px;
  height: 250px;
  border-radius: 5px;
  cursor:pointer;
  border:none;
}

.dogSet.selected {
  background-color: #C0E6DE;
}

.selectedDogsSet {
  width: 100px;
  height: 120px;
  border-radius: 5px;
  margin: 10px;
}

.dogSet:hover {
  background-color: #C0E6DE;
  box-shadow: 6px 6px 2px 1px rgba(0, 0, 255, .2);
}


.dogImage {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}

.dogImageSelected {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 5px;
}


.selectedDogsList{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-left: 10%;
  margin-right: 10%;
  background-color: beige;
}

.removeDogFromList {
  cursor:pointer;
  background-color: transparent;
  border:none;
}

.topRow {
  margin: 20px auto;
  display: flex;
  background-color: rgb(253, 210, 129);
  height: 40px;
  align-items: center;
  width: 80%;
  border-radius: 5px;
}

.nexPrevButtons{
  display: flex;
  gap: 10px;
  flex: 1;
  justify-content: center;
}

.pageInfo {
  flex: 1;
  text-align: right;
  margin-right: 10px;
}

.waitingDogDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.totalFinds{
  font-weight: bold;
  flex: 1;
  text-align: left;
  margin-left: 10px;
}

.goToPage-breed {
  margin-left: 5px;
  border-radius: 5px;
  width: 35px;
  align-items: center;
}

.selectedFavorites {
  display: flex;
  text-align: left;
  width: 80%;
  margin: auto;
  margin-top: 20px;
  background-color: beige;
}

.matchButtonDiv {
  margin-left: 4px;
  margin-right: 4px;
}

.matchButton {
  border-radius: 5px;
  background-color: blue;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.matchButton:hover {
  border-radius: 5px;
  background-color: white;
  color: blue;
  font-weight: bold;
}

.prevButton, .nextButton {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.prevButton:hover, .nextButton:hover {
  background-color: white;
  border-radius: 5px;

}
