.resultDisplayed {
   display: flex;
   gap: 10px;
   flex-direction: row;
   flex-wrap: wrap;
   margin-left: 10%;
   margin-right: 10%;
   margin-bottom: 200px;
}

.dogSet{
  width: 180px;
  height: 250px;
  border-radius: 5px;
  margin: 10px;
  cursor:pointer;
}

.dogSet:hover {
  background-color: white;
}


.dogImage {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}

.topRow {
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgb(253, 210, 129);
  height: 40px;
  align-items: center;
  width: 80%;
  border-radius: 5px;
}

.nexPrevButtons{
  display: flex;
  gap: 5px;
}

.waitingDogDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.totalFinds{
  font-weight: bold;
}
